<!DOCTYPE html>
<html lang="en">
<head>
    <title>this is index page</title>
</head>
<body>
    <center>
        <h1>how to create crud operation</h1>
        <h2>Django web framework</h2>
        <hr/>
        <a href="{% url 'stinsert'%}">Add Student Record</a>
        <table border="1">
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Gender</th>
            </tr>
            {% for displayst in crudst %}
            <tr>
                <td>{{displayst.id}}</td>
                <td>{{displayst.stname}}</td>
                <td>{{displayst.stemail}}</td>
                <td>{{displayst.staddress}}</td>
                <td>{{displayst.stmobile}}</td>
                <td>{{displayst.stgender}}</td>
                <td><a href="/edit/{{displayst.id}}">edit</a></td>
                <td><a href="/delete/{{displayst.id}}" onclick="return confirm('Are you sure you want to DELETE ?')">delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>